body {
    font-family: Arial;
    background: #d0cccce9;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    background: rgba(247, 74, 109, 0.937);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input, select {
    padding: 10px;
    flex: 1;
}

button {
    padding: 10px;
    cursor: pointer;
}

.filters {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #97e2dd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 500px) {
    .input-section {
        flex-direction: column;
    }
}